html {
    background: #eeeeee; /* same as on origin page */
}

body {
    margin-top: 0;
}

#todo_main {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0px 0px 5px grey;
}

#todo_header {
    text-align: center;
    padding-top: 10px;
    display: block;
    margin-bottom: 0px;
}

#todo_input {
    width: 90%;
    height: 50px;
    font-size: 24px;
    margin: 0 auto;
}

#todo_section {
    width: 90%;
    margin: 0px auto;
    background: yellow;
    display: block;
    font-size: 16px;
}

#todo_list {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
}

.todo_item {
    font-size: 20px;
    margin-bottom: 10px;
}

.todo_checkbox {
    float: left
    margin: auto 0px;
}

.todo_label {
    font-size: 30px;
}

.delete_button {
    display: none;
    background: url(delete.svg) no-repeat;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
    float: right;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 10px;
}

#todo_list li:hover .delete_button {
  	display: block;
}

#footer {
    background: #f4fce8; /* same as on origin page */
    height: 20px;
    border-top: solid 1px #eeeeee;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-top: 10px;
    font-size: 16px;
}
